.menuWrapperWrapper {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  position: fixed;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  .menuWrapper {
    height: 100%;
    width: 100%;

    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    & > * {
      pointer-events: all;
    }

    .desktop & {
      padding: 25px;
    }

    .toggle {
      width: 36px;
      height: 36px;

      align-self: flex-start;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      .tactile & {
        width: 40px;
        height: 40px;
      }

      & > svg {
        width: 24px;
        height: 24px;

        transition: 200ms;

        .tactile & {
          width: 28px;
          height: 28px;
        }
      }

      &.rotated > svg {
        transform: rotate(-180deg);
      }
    }

    .menu {
      padding: 10px;

      background-color: var(--primary-tone-055);
      box-shadow: var(--default-box-shadow);
      border-radius: 8px;

      user-select: none;

      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;

      transition: 200ms;

      &.hidden {
        transform: scale(0);
        transform-origin: left;
        opacity: 0;
      }

      .links {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;

        .link {
          padding: 4px 8px;
          border-radius: 8px;
          transition: background-color 500ms;
          color: var(--monochrome-tone-095);

          .tactile & {
            padding: 5px 10px;
          }

          &.focused {
            background-color: var(--primary-tone-040);
          }

          &:not(:last-child) {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}
