.menuWrapperWrapper {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  position: fixed;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  .menuWrapper {
    height: 100%;
    width: 100%;

    padding: 16px;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    & > * {
      pointer-events: all;
    }

    .desktop & {
      padding: 22px;
    }

    div.buttons {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: start;

      .button {
        width: 36px;
        height: 36px;

        margin-right: 6px;

        border-radius: 18px;
        background-color: var(--primary-tone-2);

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        &:last-child {
          margin-right: 0;
        }

        .tactile & {
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }

        & > svg {
          width: 24px;
          height: 24px;

          transform: rotate(45deg);

          transition: 200ms;

          .tactile & {
            width: 28px;
            height: 28px;
          }
        }

        &.rotated > svg {
          transform: rotate(-90deg);
        }
      }
    }

    .menu {
      padding: 10px;
      margin-top: 8px;

      background-color: var(--primary-tone-4);
      box-shadow: var(--default-box-shadow);
      border-radius: 8px;

      user-select: none;

      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;

      transform: scale(0);
      transform-origin: left;
      opacity: 0;

      transition: 200ms;

      &.visible {
        transform: scale(1);
        opacity: 1;
      }

      .links {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;

        .link {
          width: 100%;
          padding: 4px 8px;
          border-radius: 6px;
          transition: background-color 200ms;
          color: var(--text-tone);

          .tactile & {
            padding: 5px 10px;
          }

          &.focused {
            background-color: var(--primary-tone-2);
          }

          &:not(:last-child) {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}
