.spinner {
  position: fixed;

  width: 36px;
  height: 36px;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-duration: 200ms;
  transition-delay: 200ms;
  transition-property: transform;

  transform: translateX(100px);

  &.visible {
    transform: translateX(0);
  }

  & > svg {
    width: 16px;
    height: 16px;

    transform-origin: center center;
    animation: spinnerSpin 2s linear infinite;

    circle {
      stroke-linecap: square;
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;

      animation: spinnerDash 1.5s ease-in-out infinite;

      @keyframes spinnerDash {
        0% {
          stroke-dasharray: 1, 200;
          stroke-dashoffset: 0;
        }
        50% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -35px;
        }
        100% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -120px;
        }
      }
    }

    @keyframes spinnerSpin {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
