.main.externalLinks {
  max-width: 800px;
  .links {
    padding: 16px;

    width: 100%;

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    gap: 8px;

    .link {
      padding: 12px 16px;

      flex-grow: 1 1 160px;

      background-color: var(--primary-tone-2);
      border-radius: 8px;

      transition-duration: 200ms;
      transition-property: box-shadow, transform;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      .notTactile &:hover {
        box-shadow: var(--default-box-shadow);
        transform: scale(102%);
      }
    }
  }
}
