.main.home {
  .mobile & {
    padding: 58px 16px;
  }

  img.logo {
    width: 128px;
    height: auto;
    margin-bottom: 12px;

    [data-theme="dark"] & {
      filter: saturate(80%) brightness(80%);
    }
  }
}
