.main.home {
  max-width: 500px;

  .mobile & {
    padding: 58px 16px;
  }

  p.paragraph {
    text-align: center;
    line-height: 24px;
  }

  img.logo {
    width: 128px;
    height: auto;
    margin-bottom: 12px;

    [data-theme="dark"] & {
      filter: saturate(80%) brightness(80%);
    }
  }
}
