.main.notFound {
  h1.fortyHundredAndFour {
    font-size: 60px;
    animation: glitch 500ms infinite;

    @keyframes glitch {
      0% {
        text-shadow: -2px -2px 0 #ec2794cc, 2px 2px 0 #26ececcc;
      }
      20% {
        text-shadow: -1px -2px 0 #ec2693cc, 2px 1px 0 #26ececcc;
      }
      40% {
        text-shadow: -2px -1px 0 #ec2693cc, 2px 1px 0 #26ececcc;
      }
      60% {
        text-shadow: -1px -1px 0 #ec2693cc, 1px 2px 0 #26ececcc;
      }
      80% {
        text-shadow: -1px -2px 0 #ec2693cc, 2px 1px 0 #26ececcc;
      }
    }
  }
}
