.main {
  max-width: 80%;

  cursor: default;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  animation: spawn 500ms 1;

  h1,
  p {
    text-align: center;
  }

  h1 {
    font-size: 2.6rem;
    font-family: "Lobster";
    letter-spacing: 1px;
    text-shadow: 0.025em 0.1em 0 var(--primary-tone-040);

    .mobile & {
      font-size: 2rem;
    }
  }

  li {
    .tactile & {
      padding-bottom: 3px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  @keyframes spawn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  &.disappearing {
    animation: disappear 500ms 1;

    @keyframes disappear {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(0.8);
        opacity: 0;
      }
    }
  }
}
