.main {
  max-width: 400px;
  padding: 50px 16px;
  margin: auto;

  cursor: default;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  animation: spawn 500ms 1;

  * {
    word-break: break-word;
  }

  h1 {
    text-align: center;
    font-size: 2.6rem;
    font-family: "Lobster";
    letter-spacing: 1px;
    text-shadow: 0.025em 0.1em 0 var(--primary-tone-1);

    .mobile & {
      font-size: 2rem;
    }
  }

  ul {
    padding-left: 20px;
    padding-right: 2px;
    list-style-position: outside;

    li {
      margin-bottom: 4px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .mobile & {
    padding: 58px 12px;
  }

  @keyframes spawn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  &.disappearing {
    animation: disappear 500ms 1;

    @keyframes disappear {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(0.8);
        opacity: 0;
      }
    }
  }
}
