.layout-eC4uBbLYaNLX{width:100%;height:100%;display:flex;flex-flow:column nowrap;align-items:center;justify-content:center}.layout-eC4uBbLYaNLX img{margin:10px}.layout-eC4uBbLYaNLX h1{margin:10px}.layout-eC4uBbLYaNLX p{margin:5px}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;

  overflow: hidden auto;

  color: #f1f1f1;
  background-color: #161519;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #877dba; /* my fav color :) */
}

