.menuWrapper {
  height: 100%;
  top: 0;
  left: 0;

  padding: 10px;

  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  .mobile & {
    align-items: flex-start;
    justify-content: center;
  }

  .menu {
    padding: 10px;

    border-left: 4px solid var(--primary-tone-060);

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;

    .links {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;

      .link {
        padding: 4px 8px;
        border-radius: 8px;
        transition: background-color 500ms;

        .mobile & {
          padding: 5px 10px;
        }

        &.focused {
          background-color: var(--primary-tone-040);
        }

        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
  }
}
