.menuWrapper {
  height: 100%;
  top: 0;
  left: 0;

  padding: 10px;

  position: fixed;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  pointer-events: none;

  & > * {
    pointer-events: all;
  }

  .toggle {
    margin-bottom: 4px;
    align-self: flex-start;
    cursor: pointer;

    .mobile & {
      padding: 2px 6px;
    }

    & > svg {
      transition: 200ms;
    }

    &.rotated > svg {
      transform: rotate(-180deg);
    }
  }

  .menu {
    padding: 10px;

    background-color: var(--primary-tone-055);
    border-radius: 8px;

    user-select: none;

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;

    transition: 200ms;

    &.hidden {
      transform: scale(0);
      transform-origin: left;
      opacity: 0;
    }

    .links {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;

      .link {
        padding: 4px 8px;
        border-radius: 8px;
        transition: background-color 500ms;

        .mobile & {
          padding: 5px 10px;
        }

        &.focused {
          background-color: var(--primary-tone-040);
        }

        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
  }
}
