html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: #30295140;
}

::selection {
  color: var(--primary-tone-090);
  background: #30295180;
}
::-moz-selection {
  color: var(--primary-tone-090);
  background: #30295180;
}

:root {
  --primary-tone-010: #0c0a14;
  --primary-tone-015: #181429;
  --primary-tone-020: #241f3d;
  --primary-tone-025: #302952;
  --primary-tone-030: #3c3366;
  --primary-tone-035: #473d7a;
  --primary-tone-040: #53478f;
  --primary-tone-045: #5f52a3;
  --primary-tone-050: #6b5cb8;
  --primary-tone-055: #8575d1;
  --primary-tone-060: #9285d6;
  --primary-tone-065: #a094db;
  --primary-tone-070: #ada3e0;
  --primary-tone-075: #bbb3e6;
  --primary-tone-080: #c9c2eb;
  --primary-tone-085: #d6d1f0;
  --primary-tone-090: #e4e0f5;
  --primary-tone-095: #f1f0fa;

  --monochrome-tone-005: #0c0b0e;
  --monochrome-tone-010: #18171c;
  --monochrome-tone-015: #24222a;
  --monochrome-tone-020: #302e38;
  --monochrome-tone-025: #3c3946;
  --monochrome-tone-030: #474554;
  --monochrome-tone-035: #535062;
  --monochrome-tone-040: #5f5c70;
  --monochrome-tone-045: #6b677e;
  --monochrome-tone-050: #77738c;
  --monochrome-tone-055: #858198;
  --monochrome-tone-060: #928fa3;
  --monochrome-tone-065: #a09daf;
  --monochrome-tone-070: #adabba;
  --monochrome-tone-075: #bbb9c6;
  --monochrome-tone-080: #c9c7d1;
  --monochrome-tone-085: #d6d5dd;
  --monochrome-tone-090: #e4e3e8;
  --monochrome-tone-095: #f1f1f4;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  font-size: 16px;
}

#root {
  width: 100%;
  height: 100%;

  padding: 10px;

  color: var(--monochrome-tone-095);
  background-color: var(--primary-tone-050);
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden auto;
  scroll-behavior: smooth;
}

h1,
p,
ul {
  margin: 0.3em 0;
}

h1 {
  letter-spacing: 1px;
  text-shadow: 0 2px 0 var(--primary-tone-040);
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

code {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: var(--primary-tone-045);
}

ul {
  padding-left: 12px;
  list-style-position: inside;

  li {
    padding: 1px;
  }
}

.link {
  color: var(--primary-tone-090);
  text-decoration: underline;
  cursor: pointer;

  .tactile & {
    padding: 3px;
  }
}

.link.noUnderlining {
  text-decoration: inherit;
}

.toast {
  font: inherit;
  text-shadow: none;
  color: var(--monochrome-tone-095) !important;
  background-color: var(--primary-tone-035) !important;
  cursor: default;
}
